<section id="contestants">
  <% @contestants.each do |contestant| %>
    <section id="contestant-<%= contestant.id %>">
      <%= link_to contestant.name, "/contestants/#{contestant.id}" %>
      <%= contestant.age %>
      <%= contestant.hometown %>
    </section>
  <% end %>
</section>

<section id="hometowns">
  <% @bachelorette.contestant_hometowns.each do |hometown| %>
    <%= hometown %>
  <% end %>
</section>