<section id="bachelorette-info">
  <%= @bachelorette.name %>
  <%= @bachelorette.season_number %>
  <%= @bachelorette.season_description %>
  <%= @bachelorette.avg_contestant_age %>
  <%= link_to "Contestants", "/bachelorettes/#{@bachelorette.id}/contestants" %>
</section>